html {
  scroll-behavior: smooth;
  data-scroll-behavior: smooth;
}

html * {
  font-family: "Roboto", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}
/* 
section {
  scroll-margin-top: 2em;
} */
