@font-face {
  font-family: "Roboto";
  src: url("/Roboto-Regular.woff") format("woff"),
    url("/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/Roboto-Bold.woff") format("woff"),
    url("/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

html * {
  font-family: "Roboto", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

section {
  scroll-snap-align: start;
}
