html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

body {
  background-image: url("/background.svg");
  background-repeat: repeat;
  background-size: 20em;
}
